<html>
  <body>
    <div class="card-list-header">
      <h1>Lista de compras</h1>
    </div>

    <div class="card-list-panel">
      <div *ngFor="let item of items; let i = index" class="card-item">
        <ul class="">
          <li class="item-lista">
            <input
              type="checkbox"
              name="checkbox"
              id="checkbox"
              (click)="addSelectedItem(item)"
            />
            <span>{{ item.nome | titlecase }}</span>
            <img
              src="../assets/delete.svg"
              class="lixeira"
              alt=""
              (click)="deleteItem(item.id)"
            />
          </li>
        </ul>
      </div>

      <div class="card-item add">
        <div>
          <img src="../assets/add.svg" alt="" (click)="addItem()" />
          <button (click)="addItem()">Adicionar Item</button>
        </div>
      </div>

      <div *ngFor="let selectedItem of selectedItems; let i = index" class="card-item selected" >
        <div class="">
          <ul class="">
            <li class="item-lista">
              <input
                type="checkbox"
                name="checkbox"
                id="checkbox"
                checked="{{selectedItem.ativo}}"
                (click)="removeSelectedItem(selectedItem)"
              />
              <span><s>{{ selectedItem.nome | titlecase }}</s></span>
              <img
                src="../assets/delete.svg"
                class="lixeira"
                alt=""
                (click)="deleteItem(selectedItem.id)"
              />
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="add" class="inserir">
        <input type="text" class="nomeItem" [(ngModel)]="item.nome"> 
        <img
          src="../assets/check.svg"
          class="check"
          alt=""
          (click)="cadastrarItem()"
        />
      </div>
    </div>

  </body>
</html>
